@import "vars";

@mixin icons{
    .button{
    text-align: center;
    width: 90px;
    height: 90px;
    background-color: $bg-color;
    margin: 30px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
        .icon{
            padding: 15px;
            width: 90%;
        }
    }
    .button:hover{
        transform: scale(1.5);
    }
}


@mixin desktop{
    @media (max-width: 1200px){
        @content;
    }
}
@mixin tablet{
    @media (max-width: 868px){
        @content;
    }
}
@mixin mobile{
    @media (max-width: 660px){
        @content;
    }
}